<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuxin.mapper.MenuMapper">

    <select id="getAllMenus" resultType="com.xuxin.model.Menu">
        select * from menus;
    </select>

    <select id="getMenuById" parameterType="Integer" resultType="com.xuxin.model.Menu">
        select * from menus where id = #{id}
    </select>

    <insert id="addMenu" parameterType="com.xuxin.model.Menu">
        insert into menus values (#{id},#{menuname},#{path});
    </insert>

    <delete id="deleteMenuById" parameterType="Integer">
        delete from menus where id=#{id}
    </delete>

    <delete id="deleteMenuByIds">
        delete from menus where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <update id="updateMenu" parameterType="com.xuxin.model.Menu">
        update roles set menuname=#{menuname},path=#{path} where id = #{id}
    </update>


</mapper>